<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="UserController">
<div id="createUserForm">
    <form ng-submit="ctrl.submit()" ng-show="!isSaved">
        <div class="form-group col-xs-6">
            <label>Name:</label>
            <input class="form-control" ng-model="user.userName" id="name">
            <div style="margin-top: 10pt;">
                <button type="submit" class="btn btn-default">Register</button>
            </div>
        </div>
    </form>

    <div style="font-size: 20pt;" ng-show="isSaved">User Name "{{user.userName}}" has been created</div>
</div>

<script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE="
        crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="js/libs/jwt-decode.min.js"></script>
<script src="js/client.js"></script>

<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
</body>
</html>