<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
            <table class="table table-bordered table-striped">
                <thead class="table-primary">
                <tr md-row>
                    <th md-column md-numeric>User Name</th>
                    <th md-column md-numeric>First Name</th>
                    <th md-column md-numeric>Last Name</th>
                    <th md-column md-numeric>Last Modified Date</th>
                    <th md-column md-numeric></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr ng-repeat="user in ctrl.getCurrentUser() | orderBy : ['userName']  track by $index">
                    <td md-cell>{{user.userName}}</td>
                    <td md-cell>{{user.firstName}}</td>
                    <td md-cell>{{user.LastName}}</td>
                    <td md-cell>{{user.lastPasswordResetDate | date : "MM/dd/yyyy" : "UTC"}}</td>
                    <td md-cell>
                        <md-button class="buttonx btn btn-default" ng-click="ctrl.deleteSelf()">
                            <md-icon class="material-icons">Delete</md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>